header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: darkkhaki;
    z-index: 1;
    font-size: 0.6em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 80px;
}

.container > div {
    padding: 10px;
    margin: 10px 20px 20px 5px;
    height: 250px;
    text-align: center;
    font-size: 2em;
}

.large {
    flex: 100%;
    background-color: darkcyan;
}

.short {
    flex: 1;
    background-color: cyan;
}

#hamburger-menu {
    position: absolute;
    top:25%;
    bottom: auto;
    right: 50px;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    background: whitesmoke;
}

#menu {
    position: fixed;
    top:0;
    bottom: auto;
    right:0;
    height: 100%;
    width: 50%;
    background-color: darkorange;
}

@media screen and (max-width: 400px) {
    .short {
        flex: 100%;
        background-color: green;
    }

    #hamburger-menu {
        position: fixed;
        top:auto;
        bottom: 50px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }
    
    #hamburger-menu > i 
    {
        color:black;
        font-size: 18px;
        vertical-align: middle;
    }

    #menu {
        width: 75%;
        background: darkorchid;
    }
}