html {
    --header-height: 80px;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: var(--header-height);
    font-size: 1em;
    background-color: whitesmoke;
}

#btn-menu-large {
    display: block;
    position: absolute;
    top: 25%;
    bottom: auto;
    right: 50px;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    color: black;
}

#btn-menu-small {
    display: none;
}

#logo {
    display: block;
    left: 50px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    justify-content: center;
    top: calc(var(--header-height) + 20px);
    left: 20px;
    right: 20px;    
}

.container > div {
    padding: 0;
    margin: 20px;
    height: 35vh;
    text-align: center;
    font-size: 2em;
}

.banner-large {
    flex: 100%;
    background-color: wheat;
}

.banner-short {
    flex: 1;
    background-color: goldenrod;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


#menu {
    position: fixed;
    display: block;
    top: 0;
    bottom: auto;
    right: 0;
    height: 100%;
    width: 0%;
    transition: 0.5s;
    background: hsla(279, 15%, 22%, 0.925);
    z-index: 3;
}

#menu-close {
    position: absolute; 
    top: 10px;
    left: 10px;
    right: auto;
    bottom: auto;
}

#menu-close > i {
    color: white;
    font-size: 3.2em;
}

#menu-list {
    display: block;
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0;
    padding: 0;;
}

#menu-list > li {
    list-style: none;
    text-align: center;
    margin: 20px;
}
#menu-list > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    header {
        position: absolute;
    }
    .banner-short {
        flex: 100%;
    }
    #btn-menu-large {
        display: none;
    }
    #btn-menu-small {
        display: block;
        position: fixed;
        top: auto;
        bottom: 50px;
        right: 50px;
        height: 50px;
        width: 50px;
        font-size: 3em;
        text-align: center;
        text-decoration: none;
        background: whitesmoke;
        border-radius: 50px;
        z-index: 2;
    }
    #btn-menu-small>i {
        color: black;
        font-size: 18px;
        vertical-align: middle;
    }
}